<footer>
  <div>
    <a routerLink="home"><mat-icon aria-label="home">home</mat-icon></a>
  </div>
  <div>
    <a routerLink="lists"><mat-icon aria-label="lists">list</mat-icon></a>
  </div>
  <div>
    <a routerLink="friends"><mat-icon aria-label="friends">people</mat-icon></a>
  </div>
  <div>
    <a routerLink="settings"><mat-icon aria-label="settings">settings</mat-icon></a>
  </div>
</footer>
