@import '../shared/variables';

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
  bottom: 0;
  left: 0;
  height: $footer-height;
  width: 100%;

  background: white;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    padding: 5%;
    height: 100px;
  }
}
