<a routerLink="/lists/{{ id }}">
  <mat-card class="list-card">
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-content>
      <div>{{ description }}</div>
      <div>{{ listItemsCompleted.length }}/{{ items.length }} items completed</div>
    </mat-card-content>
  </mat-card>
</a>
