@import '../shared/variables';

.sidenav-container {
  min-height: calc(100% - 5rem);
  height: calc(100% - $footer-height);
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
